* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffd5c2;
  font-family: "Roboto", sans-serif;
}

.tictactoe {
  width: 90%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.tictactoe h1 {
  align-self: center;
  text-transform: uppercase;
  text-decoration: underline;
  color: #c8553d;
  letter-spacing: 2px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 100px);
  gap: 1em;
}

.box {
  background-color: hsla(180, 22%, 45%, 0.7);
  border-radius: 10px;
  color: hsl(0, 0%, 100%, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 700;
}

#modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  border-radius: 10px;
  border: none;
  background-color: #c8553d;
}

#modal .modalcontainer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1em;
  align-items: center;
}

.modalcontainer .won {
  font-size: 1.5rem;
  letter-spacing: 2px;
  
}

.modalcontainer .won::first-letter {
  font-size: 3rem;
  font-weight: 900;
}

.modalcontainer .buttons {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.buttons button {
  border: none;
  width: 80px;
  height: 50px;
  padding: 0.5em;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 400;
}

.down {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.turn {
  align-self: center;
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: capitalize;
  padding: 1em;
}

.turn::first-letter {
  color: red;
  font-size: 2rem;
}

.reset {
  width: 100px;
  height: 50px;
  padding: 1em;
  font-size: 1rem;
  border: none;
  border-radius: 25px;
  color: #c8553d;
  font-weight: 700;
}
